<div class="footer-about">
  <h3>About</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<div class="footer-connect">
  <h3>Connect</h3>
  <ul>
    <li><a href="https://github.com/alyssamonera">Github</a></li>
    <li><a href="https://www.linkedin.com/in/alyssa-monera/">LinkedIn</a></li>
    <li><a href="https://twitter.com/alyssadmonera">Twitter</a></li>
  </ul>
</div>
