<div class="title-bar">
  <h1>Title</h1>

  <div class="title-links">
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
  </div>
</div>

<nav>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/trending">Trending</a></li>
    <li><a href="/new">New</a></li>
  </ul>
</nav>
