<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include partials/header.ejs%>
    </header>

    <main class="about-page">
      <h2>Find your muse on Calliope</h2>
      <img src="https://idscache.harvardartmuseums.org/ids/view/17803827?width=3000&height=3000" alt="harvard-painting" class="rounded img-thumbnail">
      <sub>Source: <a href="https://www.harvardartmuseums.org/art/230368">Harvard Art Museums</a></sub>
      <h3>Introduction</h3>
      <p>Struggling with writer's block? Feeling bored? Have an idea you'd like to share with others? Calliope is the place to be. Browse prompts from other writers in the community, write responses, post your own prompts. You don't need an account to lurk, but if you'd like to join the community, dive right in and sign up!</p>
      <h3>Important Notice</h3>
      <p>This app is currently in development and will be making some major changes in the upcoming months. For now, here's what you can do to minimize bugs:</p>
      <ul>
        <li><b>Back up all your work.</b> If something happens on our end, it might be lost forever. On that note, be very careful when you're editing - if you accidentally hit the delete button, there will be no confirmation message. It'll just be gone forever. This is especially true for your profile. If you delete it, all your work will be deleted, too.</li>
        <li>If you want to remove your response to a prompt and replace it with a new one, just delete the response, log out, and log back in.</li>
        <li>If you encounter any weird issues, <a href="https://github.com/alyssamonera">feel free to contact me on Github.</a></li>
      </ul>


    </main>

    <footer>
      <% include partials/footer.ejs %>
    </footer>
  </body>
</html>
