<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include partials/header.ejs%>
    </header>

    <main>
      <% if (currentUser) { %>
        <h2>Welcome, <%= currentUser.username %>!</h2>
      <% }%>
    </main>

    <footer>
      <% include partials/footer.ejs %>
    </footer>
  </body>
</html>
