<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <header>
      <% include partials/header.ejs%>
    </header>

    <main class="home-page">
      <h2>
      <% if (currentUser) { %>
        Welcome, <%= currentUser.username %>!
      <% } else {%>
        Welcome!
      <% }%>
      </h2>
      <div class="quote-container">
        <p><span id="api-quote" class="text-muted"></span></p>
      </div>
    </main>

    <footer>
      <% include partials/footer.ejs %>
    </footer>

  </body>
</html>
