/* GLOBAL */

:root{
  --bright-blue: rgb(50,100,255);
}

/* MAIN */

main{
  box-sizing: border-box;
}

/* HOME PAGE */

.home-page{
  margin: 10em 0;
}

.home-page h2{
  text-align: center;
}

/* FORM */

form{
  display: block;
  margin: 0 auto;
}

label, input{
  display: block;
  margin: 0 auto;
  text-align: center;
}

input{
  margin-bottom: 1em;
}
