/* GLOBAL */

:root{
  --bright-blue: rgb(50,100,255);
}

/* MAIN */

main{
  box-sizing: border-box;
}

/* HOME PAGE */

.home-page{
  margin: 10em 0;
}

.home-page h2{
  text-align: center;
}

/* SIGNUP PAGE */

.signup-page{
  margin: 10em 0;
}

.signup-page h2{
  text-align: center;
}

/* MODAL */

.my-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.my-modal-textbox{
  background-color: var(--bright-blue);
  color: white;
  text-align: center;
  padding: 1em;
  margin: 15em auto;
}

/* FORM */

form{
  display: block;
  margin: 0 auto;
}

label, input{
  display: block;
  margin: 0 auto;
  text-align: center;
}

input{
  margin-bottom: 1em;
}
