/* GLOBAL */

:root{
  --bright-blue: rgb(50,100,255);
}

/* HEADER */
.title-bar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color:
}

header li{
  margin: 1em;
}

/* MAIN */

main{
  box-sizing: border-box;
}

/* HOME PAGE */

.home-page{
  margin: 10em 0;
}

.home-page h2{
  text-align: center;
}

/* SIGNUP PAGE */

.signup-page{
  margin: 10em 0;
}

.signup-page h2{
  text-align: center;
}

/* MODAL */

.my-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.my-modal-textbox{
  background-color: var(--bright-blue);
  color: white;
  text-align: center;
  padding: 1em;
  margin: 15em auto;
}

/* FORM */

form{
  display: block;
  margin: 0 auto;
}

label, input{
  display: block;
  margin: 0 auto;
  text-align: center;
}

input{
  margin-bottom: 1em;
}

/* FOOTER */
footer{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.footer-about, .footer-links, .footer-connect{
  width: 30%;
}

.footer-links, .footer-connect{
  text-align: center;
}

.footer-links ul, .footer-connect ul{
  list-style-type: none;
  display: block;
  margin: 0 auto;
  margin-left: -2em;
}
