/* HEADER */
.title-bar{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1em;
}

.title-links{
  display: flex;
}

.title-links button{
  margin-left: 1em;
}

header ul{
  list-style-type: none;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

header li{
  margin: 1em;
}

/* FOOTER */
footer{
  margin: 0 auto;
  margin-top: 7em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  position: relative;
  bottom: 0;
}

.footer-about, .footer-connect{
  margin: 1em;
  width: 30%;
}

.footer-connect{
  text-align: center;
}

.footer-connect ul{
  list-style-type: none;
  display: block;
  margin: 0 auto;
  margin-left: -2em;
}
