/* INDEX DISPLAY */

.one-prompt{
  border-bottom: 1px solid #ccc;
}

.mb-0{
  font-size: 1.5em;
  text-align: left;
  font-family: var(--Merri);
}

.byline{
  text-align: right;
  margin-right: 3em;
  font-size: 1.2em;
}

.index-body{

}

/* SHOW DISPLAY */

.prompt-show{
  border-bottom: 0.1px solid #ccc;
}

.prompt-show h3{
  font-family: var(--Merri);
}

.prompt-details{
  display: flex;
  justify-content: space-between;
}

.prompt-stats ul, .reply-stats ul{
  list-style-type: none;
  display: flex;
  justify-content: left;
  padding: 0;
  margin-left: 1em;
}

.prompt-stats li, .reply-stats li{
  margin: 0;
  margin-right: 1em;
}

.prompt-options, .reply-options{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.prompt-options form, .prompt-options button, .reply-options form, .reply-options button{
  margin-left: 2em;
}

.prompt-options button, .prompt-options input{
  border: 1px solid black;
}

/* RESPONSE SECTION */

.prompt-responses{
  margin: 1em;
}

.reply{
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  margin-bottom: 1em;
}

.readmore{
  color: var(--scarlet);
}

.readmore:hover{
  color: #888;
}

.original-prompt{
  text-align: center;
}

blockquote .note-video-clip{
  width: 320px;
  height: 180px
}

blockquote img{
  width: 293px !important;
}

/* FORMS */

.new-prompt{
  margin-top: 4em;
  margin-left: 1em;
}

label{
  text-align: left;
}

input[type=text], textarea{
  outline-color: black;
}

input[type=text]{
  display: inline;
  text-align: left;
  width: 400px;
}

input[type=submit]{
  display: block;
  margin: 0;
  margin-bottom: 1em;
}

textarea{
  display: block;
  text-align: left;
  height: 20vh;
  width: 90%;
  margin-bottom: 1em;
  resize: none;
}

/* MODAL */

.my-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.my-modal-textbox{
  background-color: var(--beige);
  border: 1px solid black;
  text-align: center;
  padding: 1em;
  margin: 15em auto;
  width: 80%;
}
