img{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

h2{
  text-align: center;
}

.profile-actions{
  text-align: center;
}

.profile-actions button, .profile-actions form{
  display: inline;
}

.profile-actions input{
  margin: 0;
}
