<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/prompts.css">
  </head>
  <body>

    <header>
      <% include ../partials/header.ejs %>
    </header>

    <main class="edit-prompt">
      <h2>Edit your prompt</h2>
      <form action="/prompts/<%= prompt.id %>?_method=PUT" method="POST">

        <label for="title">Prompt</label>
        <input type=text name="title" value="<%= prompt.title %>">

        <label for="body">Details</label>
        <div id="edit-prompt">
          <script type="text/javascript" src="https://js.nicedit.com/nicEdit-latest.js"></script> <script type="text/javascript">
                bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
          </script>
          <textarea name="body"><% if (prompt.body){ %><%- prompt.body %><% }%></textarea>
        </div>

        <label for="tags">Tags (add #s)</label>
        <input type="text" name="tags" value="<% for (let tag of prompt.tags) { %>#<%= tag %> <%}%>">

        <input type="submit" value="Submit">


      </form>
    </main>

    <% if (!currentUser) { %>
      <div class="my-modal">
        <div class="my-modal-textbox">
          <h3>Hold up!</h3>
          <p>You need to log in to do that.</p>
          <a href="/login"><button class="btn">Log In</button></a>
          <a href="/signup"><button class="btn">Sign Up</button></a>
        </div>
      </div>
    <% }%>


    <footer>
      <% include ../partials/footer.ejs%>
    </footer>

  </body>
</html>
