<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
    </header>

    <main class="prompt-index">
      <% for (let data of allPrompts) { %>
        <div class="prompt-div">
          <h3><a href="/prompts/<%=data.id%>"><%= data.title %></a></h3>
          <h5>--<a href="/users/<%= data.author.id%>"><%= data.author.username %></a></h5>
        </div>
      <% }%>
    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
