<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
    </header>

    <main class="prompt-show">
      <h3><%= prompt.title %></h3>
      <% if (prompt.body) { %>
        <p><%= prompt.body %></p>
      <% }%>
      <h5>--<%= prompt.author %></h5>
    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
