<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/credentials.css">
  </head>
  <body>

    <header>
      <% include ../partials/header.ejs %>
    </header>

    <% if (error) { %>
      <div class="error-message">
        <p>Incorrect username or password.</p>
      </div>
    <% }%>

    <main class="login-page">
      <h2>Log In</h2>
      <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username">

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password">

        <input type="hidden" name="referer" value="<%= referer %>">

        <input type="submit" value="Log In">
      </form>
    </main>

    <footer>
      <% include ../partials/footer.ejs%>
    </footer>

  </body>
</html>
