<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
      <link rel="stylesheet" href="/css/users.css">
      <link rel="stylesheet" href="/css/credentials.css">
    </header>

    <main class="user-show">

      <% if (error){ %>
        <div class="error-message">
          <p>Sorry, that username is already taken.</p>
        </div>
      <% } %>

      <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        <input type="text" name="username" value="<%= user.username %>">
        <input onClick="this.select();" type="password" name="password" value="<%= user.password %>">

        <input type="submit" value="Submit changes">
      </form>

    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
