<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <header>
      <% include ../partials/header.ejs%>
    </header>

    <main class="user-show">
      <h2><%= user.username %></h2>

      <ul>
        <% for (let prompt of user.prompts) { %>
          <li><a href="/prompts/<%= prompt._id %>"><%= prompt.title %></a></li>
        <% }%>
      </ul>

      <% if (currentUser) { %>
        <% if (user.username === currentUser.username) { %>

        <% }%>
      <% }%>

    </main>

    <footer>
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
